.touchable {
    border: 1px solid #000;
    background-color: #f00;
    height: 200px;
    width: 200px;
    margin: 100px auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 200px;
    color: #fff;
    position: relative;
    transition: box-shadow 0.3s;
}

.dragging {
    box-shadow: 0 10px 30px 0 #000;
}